docs/_build
input/*
output/*
__pycache__
notebooks/.ipynb_checkpoints
*.sqlite
extra/cleaned
extra/uncleaned
itinerum.sqlite-journal
extra/diffs
*.zip

!input/.gitkeep
!output/.gitkeep
.vscode
.DS_Store
