__pycache__
*.pyc
*.sqlite
*.zip
itinerum.sqlite-journal
datakit-venv
input/*
output/*
!input/.gitkeep
!output/.gitkeep
docs/_build
extra/cleaned
extra/uncleaned
notebooks/.ipynb_checkpoints
extra/diffs
.vscode
.DS_Store
