__pycache__
*.pyc
*.sqlite
*.zip
itinerum.sqlite-journal
tripkit-venv
input/*
output/*
!input/.gitkeep
!output/.gitkeep
docs/_build
example/cleaned
example/uncleaned
example/diffs
notebooks/.ipynb_checkpoints
.vscode
.DS_Store
debug/CANUEStopDetection/
*.pickle
/*.json
build
dist
itinerum_tripkit.egg-info
_temp
build-venv
verify_qstarz_data.py
